body {
	margin-top: 25vh;
	min-height: 75vh; }

header { position: relative; }

#logo { width: 100%; }

nav,
#services {
	text-align: center;
	width: 100%; }

nav a:last-child { margin-left: .6rem; }


#services :is(a, span) { margin: .3rem; }

#services span a { margin: 0; }

@media screen and (max-width: 640px) {
	#services { display: flex; flex-direction: column; } }